extends ../layout

block content
  section.page-header
    h1= account ? account.name : "Account no encontrada"
    if account
      p= account.organization_name

  if account
    section.panel
      h2 Bots
      if bots.length
        table
          thead
            tr
              th Bot
              th Canal
              th Estado
          tbody
            each bot in bots
              tr
                td
                  a(href=`/inspector/bots/${bot.id}`)= bot.name
                td= bot.channel
                td
                  span.status= bot.status
      else
        div.empty Sin bots.
  else
    div.empty No se encontró el account.
