extends ../layout

block content
  section.page-header
    h1= business ? business.name : "YoAyudo"
    p Inspector de bots y agentes

  section.panel
    h2 Bots / agentes
    if bots && bots.length
      table
        thead
          tr
            th Nombre
            th Tipo
            th Estado
            th Account
            th
        tbody
          each bot in bots
            tr
              td
                a(href=`/inspector/bots/${bot.id}`)= bot.name
                if bot.description
                  div.meta= bot.description
              td= bot.bot_type || bot.channel
              td
                span.status= bot.status
              td= bot.account_name || "sin account"
              td
                a.button(href=`/inspector/bots/${bot.id}`) Abrir
    else
      div.empty Sin bots configurados.
